.team-details img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  text-align: center;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.ceo-words {
  margin-top: 2rem;
}

.ceo-img {
  width: 120rem;
  /* height: 50%; */
  border-radius: 0;
  object-fit: cover;
}

.ceo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
}
.ceo-words {
  width: 100%;
  text-align: center;
}

@media (max-width: 450px) {
  .ceo-img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-bottom: -5rem;
    object-position: top;
    object-fit: cover;
  }

  .ceo-container {
    flex-direction: column;
  }
}
